 <h1> <%= @team.name %> </h1>

 <h3> Team Motto: <%= @team.motto %> </h3>

  <h2> Hero Name: <%= @superhero1.name %> </h2>

  <p> Hero Power: <%= @superhero1.power %> </p>
  <p> Hero Biography: <%= @superhero1.biography %> </p>

  <h2> Hero Name: <%= @superhero2.name %> </h2>

  <p> Hero Power: <%= @superhero2.power %> </p>
  <p> Hero Biography: <%= @superhero2.biography %> </p>

  <h2> Hero Name: <%= @superhero3.name %> </h2>

  <p> Hero Power: <%= @superhero3.power %> </p>
  <p> Hero Biography: <%= @superhero3.biography %> </p>
